<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Thumper_Modding_Tool_resharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="game_dir" value="" />
        <add key="mod_mode" value="OFF" />
    </appSettings>
    <userSettings>
        <Thumper_Modding_Tool_resharp.Properties.Settings>
            <setting name="game_dir" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="mod_mode" serializeAs="String">
                <value>OFF</value>
            </setting>
            <setting name="loaded_levels" serializeAs="String">
                <value />
            </setting>
        </Thumper_Modding_Tool_resharp.Properties.Settings>
    </userSettings>
</configuration>